#content-nav.row
	.container
		.twelve.columns
			nav
				a(href="#alto-rio-negro") Alto rio Negro – noroeste amazônico
				a(href="#clicos-anuais") Os ciclos anuais
				a(href="#pesquisa-colaborativa") A pesquisa colaborativa
				a(href="#manejo-do-mundo") Manejo do mundo
				a(href="#povos-indigenas") Povos indígenas da Amazônia e mudanças climáticas