#content-nav.row
	.container
		.twelve.columns
			nav
				a(href="#") Alto rio Negro – noroeste amazônico
				a(href="#") Os ciclos anuais
				a(href="#") A pesquisa colaborativa
				a(href="#") Manejo do mundo
				a(href="#") Povos indígenas da Amazônia e mudanças climáticas