#content-nav
	nav
		p.grouped
			a(href="#" title="Topo")
				span.icon-back
			a(href="#viz" title="Calendário")
				span.icon-circle
			a(href="#map" title="Mapa")
				span.icon-map
			a(href="#video" title="Vídeo")
				span.icon-video
		a(href="#alto-rio-negro") Alto rio Negro – noroeste amazônico
		a(href="#clicos-anuais") Os ciclos anuais
		a(href="#pesquisa-colaborativa") A pesquisa colaborativa
		a(href="#manejo-do-mundo") Manejo do mundo
		a(href="#povos-indigenas") Povos indígenas da Amazônia e mudanças climáticas