#content
	h2
		b Pesquisa
	h4
		b Agentes Indígenas de Manejo 
			br
			| Ambiental do rio Tiquié
			| (AIMAs)
	h4 Alberto Alves Marques*
		i , tukano, Santa Luzia
	h4 Aldo Marques Sampaio*
		i , tukano, Santa Luzia
	h4 Cornélio Lobo Gonçalves*
		i , desana, São Luis
	h4 Damião Amaro Barbosa
		i , makuna, Buraco de Cobra
	h4 Dario Azevedo Resende
		i , tuyuka, Igarapé Onça
	h4 Dionísio Mesquita
		i , bará, Bela Vista
	h4 Estevão Monteiro Pedrosa 
		i , tukano, Cunuri
	h4 Evaristo Caldas Azevedo
		i , tukano, Pirarara
	h4 Gabriel Prado Barbosa*
		i , makuna, São Pedro
	h4 Genesio Fernandes Araújo*
		i , yuhup, Igarapé Cunuri
	h4 Germano José Borges Campos
		i , desana, São Sebastião
	h4 Gilson Pimentel Aguiar
		i , desana, Floresta
	h4 Ismael Pimentel dos Santos
		i , desana, Santo Antônio
	h4 Jarbas Goes Pires
		i , hup, Barreira
	h4 João Batista Marques Meira*
		i , tuyuka, Cachoeira Comprida
	h4 João Bosco Marques Resende*
		i , tuyuka, São Pedro
	h4 João Paulo Lemos Marinho*
		i , tukano, Rio Castanha
	h4 João Pedro Lima Azevedo*
		i , tukano, Pirarara
	h4 João Teles Meira
		i , tuyuka, Cachoeira Comprida
	h4 Jodair Resende Marques*
		i , tukano, Caruru
	h4 Joel Pedrosa Paz*
		i , desana, Cunuri
	h4 Jonas Prado Barbosa*
		i , makuna, São Pedro
	h4 José Maria Alcântara
		i , tukano, Matapi
	h4 José Maria Barbosa Ramos
		i , tuyuka, São Pedro
	h4 José Caldas Pedrosa
		i , tukano, Cunuri
	h4 José Pimentel
		i , tukano, Bela Vista
	h4 Lenildo Aguiar Azevedo*
		i , tukano, Pirarara
	h4 Lucas Alves Bastos
		i , tukano, São Paulo
	h4 Mateus Gomes Macedo
		i , desana, Duhtura
	h4 Marcos Monteiro Pedrosa*
		i , tukano, Cunuri
	h4 Marcos Resende Barbosa*
		i , tuyuka, São Pedro
	h4 Mauro Monteiro Pedrosa*
		i , tukano, Cunuri
	h4 Orlando Massa Moura
		i , tukano, Maracajá
	h4 Oswaldo Barbosa Alves
		i , tukano, São Paulo
	h4 Paulo de Abreu Lobo*
		i , miriti-tapuya, Iraity
	h4 Paulo Goes Pires*
		i , hup, Igarapé Taracuá
	h4 Rafael Azevedo
		i , tukano, Acará-Poço
	h4 Roberval Sobrano Araújo Pedrosa
		i , tukano, Serra de Mucura
	h4 Rogelino da Cruz Alves Azevedo
		i , tukano, São José
	h4 Valerio Azevedo Pereira*
		i , desana, Acará-Poço
	h5(style='margin:5px 0') (40 pesquisadores indígenas, 8 povos indígenas, 26 comunidades do rio Tiquié e afluentes)
	h5(style='margin:5px 0') * Não está mais na equipe atual de AIMAs, mas contribuiu no decorrer da pesquisa.
	h2 Instituto Socioambiental
	h4  Aloisio Cabalzar 
		i (coordenação)
	h4 Pieter van der Veld
	h4 Melissa Oliveira
	h2 Pesquisadores Associados
	h4 Walmir Thomazi Cardoso 
		i (astrônomo, PUC/SP)
	h4 Tony Gross 
		i (UN University)
	h4 Ferdouz Vuilliomenet Cochran 
		i (geógrafa, University of Kansas)
	h2 Design
	h4 Hebert Valois
	h2 Equipe InfoAmazonia
	h4
		b Base de dados:
		| Vitor George
	h4
		b Coordenação:
		| Gustavo Faleiros
	h2 Vídeo
	h4 Grão Filmes
	h4
		b Filmagem e edição:
		|  Thiago Carvalhaes
	.clear
	h3 Realização
	a(href='http://www.socioambiental.org', target='_blank', name='Instituto Socioambiental', style='margin:10px 65px 30px;width:120px;')
		img(src='img/partners/isa20.jpg', alt='Instituto Socioambiental')
	.realiz
		a(href='http://rederionegro.socioambiental.org/', target='_blank', name='Rede Rio Negro')
		img(src='img/partners/rn.png', alt='Rede Rio Negro')
	.realiz
		// <a href="" target="_blank" name="Associação das Comunidades Indígenas do Médio Tiquié">
		img(src='img/partners/acimet.png', alt='Associação das Comunidades Indígenas do Médio Tiquié')
		// </a>
	.realiz
		a(href='http://www.foirn.org.br/', target='_blank', name='Federação das Organizações Indígenas do Rio Negro')
		img(src='img/partners/foirn.png', alt='Federação das Organizações Indígenas do Rio Negro')
	.realiz
		a(href='http://culturaviva.org.br/mapa/associacao-escola-indigena-tukano-yupuri/', target='_blank', name='Associação Escola Indígena Tukano Yupuri')
		img(src='img/partners/aeity.png', alt='Associação Escola Indígena Tukano Yupuri')
	.realiz.menor
		// <a href="" target="_blank" name="Associação das Tribos indígenas do Alto Rio Tiqué"><img src="img/partners/atriart.png" /></a>
		h1
		| ATRIART
		h4 Associação das Tribos indígenas do Alto Rio Tiqué
	.realiz.menor
		// <a href="http://infoamazonia.org" target="_blank" name="Associação das Comunidades Indígenas do Rio Castanha"><img src="img/partners/acirc.png" /></a>
		h1
		| ACIRC
		h4 Associação das Comunidades Indígenas do Rio Castanha
	.realiz.menor
		// <a href="" target="_blank" name=""><img src="img/partners/aeitu.png" /></a>
		h1 AEITU
	.realiz.menor
		// <a href="" target="_blank" name=""><img src="img/partners/oids.png" /></a>
		h1 OIDS
	.realiz.menor
		// <a href="" target="_blank" name=""><img src="img/partners/oibv.png" /></a>
		h1 OIBV
	.clear
	h3(style='margin-top:50px;') Apoio
	.apoio
		a(href='http://moore.org', target='_blank', name='Gordon and Betty Moore Foundation')
		img(src='img/partners/moore.png', alt='Gordon and Betty Moore Foundation')
	.apoio
		a(href='http://www.arapyau.org.br/', target='_blank', name='Instituto Arapyaú')
		img(src='img/partners/arapyau.png', alt='Instituto Arapyaú')
	.apoio
		a(href='http://www.regnskog.no/en/home', target='_blank', name='Rainforest Foundation Norway')
		img(src='img/partners/rfn.png', alt='Rainforest Foundation Norway')
	.apoio
		a(href='http://www.fapeam.am.gov.br/', target='_blank', name='Fundação de Amparo à Pesquisa do Estado do Amazonas')
		img(src='img/partners/fapeam.png', alt='Fundação de Amparo à Pesquisa do Estado do Amazonas')
	.clear
	h3(style='margin-top:50px;') Desenvolvimento
	a(href='http://infoamazonia.org', target='_blank', name='Infoamazônia')
		img(src='img/partners/infoamazonia.png', alt='Infoamazonia', style='margin:0 20px;')
	// end #corpo
	// <iframe src="isa-header/index.php?estilo=verde" style="border:none;width:100%;height:30px;position:absolute;top:0;right:0;left:0;"></iframe>
