@import (inline) "normalize.css";
@import (inline) "skeleton.css";
@import (inline) "fonts.css";
@import "calendario";

.row {
	margin-bottom: 40px;
}

#masthead {
	padding: 40px 0;
	background: #333;
	border-bottom: 2px solid #111;
	color: #fff;
	h1,
	h2 {
		font-family: "Fira Sans";
		line-height: 100%;
		text-align: center;
	}
	h1 {
		text-transform: uppercase;
		margin: 0;
		font-size: 50px;
		color: #fff;
	}
	h2 {
		font-size: 23px;
		color: #ccc;
	}
	p {
		color: #999;
	}
	.head-title {
		border-bottom: 1px solid #444;
		padding: 0 0 20px;
		margin: 0 0 20px;
	}
	#site-desc {
		margin-top: 30px;
		p {
			font-size: 18px;
			line-height: 150%;
		}
	}
	#calendar-legend {
		width: 300px;
		height: 300px;
		margin-top: -20px;
		p {
			font-size: 12px;
			text-transform: uppercase;
			margin: 0;
			text-align: right;
		}
		svg {
			float: right;
			path {
				fill: #999;
				stroke: #444;
				stroke-opacity: 0.2;
				stroke-width: 2px;
				opacity: 0.5;
				&:hover {
					fill: #fff;
					stroke-width: 0;
				}
			}
			text {
				fill: #999;
			}
		}
	}
}

#content-nav {
	background: #fff;
	&.fixed {
		z-index: 99999;
		position: fixed;
		top: 0;
	}
	nav {
		width: 100%;
		padding-top: 60px;
		.grouped,
		a {
			font-family: "Oswald";
			font-weight: 200;
			display: block;
			padding: 20px 0;
			line-height: 120%;
			font-size: 20px;
			text-shadow: 0 0 0;
			margin: 0;
			color: #444;
			border-bottom: 1px solid #ddd;
			&:hover {
				text-shadow: 0 0 0;
				color: #111;
			}
		}
		.grouped {
			display: table;
			width: 100%;
			a {
				text-align: center;
				width: 1%;
				display: table-cell;
				padding: 0;
				margin-right: 10px;
				border: 0;
			}
		}
	}
}

.page-section {
	padding-top: 60px;
}

h1,
h2,
h3,
h4 {
	font-family: "Oswald";
	font-weight: 200;
}